body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1095px;
  top:100px;
  width:10px;
  height:1058px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:1041px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1058px;
}
#u1 {
  position:absolute;
  left:95px;
  top:100px;
  width:10px;
  height:1058px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:1041px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1058px;
}
#u2 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1200px;
  height:110px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:47px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:19px;
  width:150px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:290px;
  top:59px;
  width:620px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:810px;
  top:59px;
  width:100px;
  height:30px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:824px;
  top:64px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:290px;
  top:19px;
  width:620px;
  height:30px;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:626px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:35px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:207px;
  top:0px;
  width:207px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:414px;
  top:0px;
  width:206px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:202px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:930px;
  width:1000px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u19 {
  position:absolute;
  left:930px;
  top:956px;
  width:150px;
  height:70px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:957px;
  width:55px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:120px;
  top:980px;
  width:39px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:120px;
  top:1003px;
  width:63px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:802px;
  top:956px;
  width:108px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:100px;
  top:1051px;
  width:1000px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u30 {
  position:absolute;
  left:120px;
  top:111px;
  width:184px;
  height:36px;
}
#u30_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:190px;
  height:42px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:41px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:184px;
  top:0px;
  width:234px;
  height:60px;
  visibility:hidden;
}
#u34_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:240px;
  height:66px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:65px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:20px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:20px;
  width:234px;
  height:20px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:40px;
  width:234px;
  height:20px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:147px;
  width:1000px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u43 {
  position:absolute;
  left:930px;
  top:-1px;
  width:150px;
  height:110px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:110px;
}
#u44 {
  position:absolute;
  left:2px;
  top:47px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:943px;
  top:8px;
  width:99px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1048px;
  top:7px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:930px;
  top:37px;
  width:150px;
  height:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:942px;
  top:63px;
  width:126px;
  height:36px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:1054px;
  top:57px;
  width:16px;
  height:16px;
  font-size:10px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:130px;
  top:177px;
  width:166px;
  height:33px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:33px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:306px;
  top:187px;
  width:170px;
  height:16px;
  text-decoration:underline;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:131px;
  top:246px;
  width:950px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u59 {
  position:absolute;
  left:131px;
  top:272px;
  width:166px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:131px;
  top:312px;
  width:949px;
  height:100px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:308px;
  top:322px;
  width:335px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:144px;
  top:344px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:144px;
  top:358px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:144px;
  top:322px;
  width:135px;
  height:16px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:144px;
  top:382px;
  width:135px;
  height:20px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:308px;
  top:354px;
  width:760px;
  height:46px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:46px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:288px;
  top:312px;
  width:10px;
  height:100px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u75 {
  position:absolute;
  left:131px;
  top:432px;
  width:949px;
  height:100px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:100px;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:308px;
  top:442px;
  width:335px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:144px;
  top:464px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:144px;
  top:478px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:144px;
  top:442px;
  width:135px;
  height:16px;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:144px;
  top:502px;
  width:135px;
  height:20px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:308px;
  top:474px;
  width:760px;
  height:46px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:46px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:288px;
  top:432px;
  width:10px;
  height:100px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u89 {
  position:absolute;
  left:131px;
  top:552px;
  width:949px;
  height:100px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:100px;
}
#u90 {
  position:absolute;
  left:2px;
  top:42px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:308px;
  top:562px;
  width:335px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:144px;
  top:584px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:144px;
  top:598px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:144px;
  top:562px;
  width:135px;
  height:16px;
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:144px;
  top:622px;
  width:135px;
  height:20px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u100 {
  position:absolute;
  left:308px;
  top:594px;
  width:760px;
  height:46px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:46px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:288px;
  top:552px;
  width:10px;
  height:100px;
}
#u102_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u102_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u102_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u103 {
  position:absolute;
  left:131px;
  top:672px;
  width:949px;
  height:100px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:100px;
}
#u104 {
  position:absolute;
  left:2px;
  top:42px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:308px;
  top:682px;
  width:335px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:144px;
  top:704px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:144px;
  top:718px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:144px;
  top:682px;
  width:135px;
  height:16px;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:144px;
  top:742px;
  width:135px;
  height:20px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u114 {
  position:absolute;
  left:308px;
  top:714px;
  width:760px;
  height:46px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:46px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:288px;
  top:672px;
  width:10px;
  height:100px;
}
#u116_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u116_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u116_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u117 {
  position:absolute;
  left:131px;
  top:792px;
  width:949px;
  height:100px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:100px;
}
#u118 {
  position:absolute;
  left:2px;
  top:42px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:308px;
  top:802px;
  width:335px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:144px;
  top:824px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:144px;
  top:838px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:144px;
  top:802px;
  width:135px;
  height:16px;
  font-size:14px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:144px;
  top:862px;
  width:135px;
  height:20px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u128 {
  position:absolute;
  left:308px;
  top:834px;
  width:760px;
  height:46px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:46px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:288px;
  top:792px;
  width:10px;
  height:100px;
}
#u130_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u130_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u130_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u131 {
  position:absolute;
  left:131px;
  top:215px;
  width:90px;
  height:24px;
  font-size:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:382px;
  top:272px;
  width:120px;
  height:24px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:641px;
  top:272px;
  width:70px;
  height:24px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u136 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:327px;
  top:272px;
  width:43px;
  height:24px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u138 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:723px;
  top:272px;
  width:100px;
  height:24px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u140 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:513px;
  top:272px;
  width:115px;
  height:24px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:616px;
  top:265px;
  width:16px;
  height:16px;
  font-size:10px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:231px;
  top:220px;
  width:64px;
  height:16px;
  text-decoration:underline;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
