body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:1000px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u1 {
  position:absolute;
  left:120px;
  top:2px;
  width:130px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:0px;
  width:10px;
  height:1000px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:983px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1000px;
}
#u4 {
  position:absolute;
  left:1095px;
  top:0px;
  width:10px;
  height:1000px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:983px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1000px;
}
#u5 {
  position:absolute;
  left:957px;
  top:19px;
  width:93px;
  height:16px;
  text-decoration:underline;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:260px;
  top:55px;
  width:10px;
  height:900px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:883px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:900px;
}
#u8 {
  position:absolute;
  left:1054px;
  top:17px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:80px;
  width:170px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:120px;
  width:170px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:160px;
  width:170px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:292px;
  top:80px;
  width:220px;
  height:16px;
  text-decoration:underline;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:309px;
  top:283px;
  width:763px;
  height:111px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:76px;
  top:0px;
  width:110px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:186px;
  top:0px;
  width:92px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:278px;
  top:0px;
  width:98px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:376px;
  top:0px;
  width:114px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:490px;
  top:0px;
  width:101px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:591px;
  top:0px;
  width:167px;
  height:38px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:38px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:38px;
  width:76px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:76px;
  top:38px;
  width:110px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:186px;
  top:38px;
  width:92px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:278px;
  top:38px;
  width:98px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:376px;
  top:38px;
  width:114px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:490px;
  top:38px;
  width:101px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:591px;
  top:38px;
  width:167px;
  height:34px;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:72px;
  width:76px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:76px;
  top:72px;
  width:110px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:186px;
  top:72px;
  width:92px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:278px;
  top:72px;
  width:98px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:376px;
  top:72px;
  width:114px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:490px;
  top:72px;
  width:101px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:591px;
  top:72px;
  width:167px;
  height:34px;
  font-family:'Arial Полужирный Курсив', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:12px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:309px;
  top:120px;
  width:99px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:309px;
  top:147px;
  width:265px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:415px;
  top:121px;
  width:218px;
  height:16px;
  text-decoration:underline;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:660px;
  top:147px;
  width:137px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:660px;
  top:167px;
  width:171px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:309px;
  top:169px;
  width:98px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:309px;
  top:191px;
  width:156px;
  height:16px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:309px;
  top:528px;
  width:73px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:310px;
  top:554px;
  width:70px;
  height:66px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u78 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:310px;
  top:622px;
  width:70px;
  height:20px;
  font-size:8px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:309px;
  top:409px;
  width:99px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:309px;
  top:435px;
  width:571px;
  height:64px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:64px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:309px;
  top:213px;
  width:522px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:505px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:522px;
  height:1px;
}
#u86 {
  position:absolute;
  left:309px;
  top:233px;
  width:74px;
  height:19px;
  font-size:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:309px;
  top:254px;
  width:167px;
  height:19px;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:19px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
