body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:1000px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u1 {
  position:absolute;
  left:120px;
  top:2px;
  width:130px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:95px;
  top:0px;
  width:10px;
  height:1000px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:983px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1000px;
}
#u4 {
  position:absolute;
  left:1095px;
  top:0px;
  width:10px;
  height:1000px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:983px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1000px;
}
#u5 {
  position:absolute;
  left:957px;
  top:19px;
  width:93px;
  height:16px;
  text-decoration:underline;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:260px;
  top:55px;
  width:10px;
  height:900px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:883px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:900px;
}
#u8 {
  position:absolute;
  left:1054px;
  top:17px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:80px;
  width:170px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:120px;
  width:170px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:160px;
  width:170px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:166px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:292px;
  top:80px;
  width:228px;
  height:16px;
  text-decoration:underline;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:292px;
  top:134px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:480px;
  top:131px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:292px;
  top:173px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:480px;
  top:170px;
  width:200px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:292px;
  top:213px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:480px;
  top:210px;
  width:200px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:292px;
  top:251px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:480px;
  top:251px;
  width:200px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
#u30 {
  position:absolute;
  left:292px;
  top:293px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:480px;
  top:290px;
  width:200px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:292px;
  top:333px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:480px;
  top:333px;
  width:200px;
  height:87px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:87px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u36 {
  position:absolute;
  left:302px;
  top:440px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:480px;
  top:440px;
  width:158px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:302px;
  top:474px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:480px;
  top:474px;
  width:158px;
  height:19px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:704px;
  top:131px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:878px;
  top:131px;
  width:200px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46_input:disabled {
  color:grayText;
}
#u47 {
  position:absolute;
  left:704px;
  top:170px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:878px;
  top:167px;
  width:200px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:774px;
  top:515px;
  width:140px;
  height:35px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:934px;
  top:515px;
  width:140px;
  height:35px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
